body {
  margin: 0;
  font-size: 16px;
  background-repeat: no-repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #4C7597 38%, #FFFFFF 38%);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto 0px auto;
}

.container > .imageSection{
  margin-right: 50px;
}

.container > .contentSection > .content {
  width: 480px;
  padding: 40px;
  font-size: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/frame.png");
}

.container > .contentSection > .header {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  justify-content: space-between;
}

.container > .contentSection > .header > .button {
  display: flex;
  width: 85px;
  padding: 6px;
  height: 22px;
  border-radius: 3px;
  align-items: center;
  border: 1px solid #6389A8;
  margin: 20px 0px 0px 26px;
  background-color: #6389A8;
  background-image: linear-gradient(to top, #477194 0%, #6388A7 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container > .contentSection > .header > .button > div {
  color: white;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}

.container > .contentSection > .content > h2 {
  color: #06365f;
  font-size: 24px;
  margin-top: 0px;
  font-weight: bold;
}

.container > .contentSection > .content > span {
  font-weight: bold;
}

.container > .contentSection > .download {
  padding: 40px;
}

.footer {

  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.footer > a {
  color: #1C5380;
  margin-left: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer > span {
  color: #CACBCC;
  margin-left: 14px;
  font-weight: bold;
  text-decoration: none;
}
